.tableRow {
  .message {
    text-align: center !important;
    padding: 16px !important;
  }
  &:nth-child(odd) {
    td {
      background-color: #e1e1e1;
    }
  }
  &:nth-child(even) {
    td {
      background-color: #c1c1c1;
    }
  }
}
