@import "../../../styles/mixins";

.footer {
  padding: 20px;
  @include flex-center;
  background-color: var(--accent-background-color);
  .container {
    p {
      color: var(--accent-text-color);
      font-size: 12px;
      text-align: center;
    }
  }
}
